[submodule "splot_proximity-sensor"]
	path = splot_proximity-sensor
	url = https://github.com/achurichi/splot_proximity-sensor
[submodule "splot_backend"]
	path = splot_backend
	url = https://github.com/ExequielGonzalez/splot_backend
[submodule "splot_vehicle-detection"]
	path = splot_vehicle-detection
	url = https://github.com/achurichi/splot_vehicle-detection
[submodule "splot_backend-db"]
	path = splot_backend-db
	url = https://github.com/achurichi/splot_backend-db
[submodule "mqtt_microservice"]
	path = mqtt_microservice
	url = https://github.com/ExequielGonzalez/mqtt_microservice
[submodule "SPloT_frontend"]
	path = SPloT_frontend
	url = https://github.com/ExequielGonzalez/SPloT_frontend.git
[submodule "splot_crontab-backup"]
	path = splot_crontab-backup
	url = git@github.com:achurichi/splot_crontab-backup.git
[submodule "splot_spotlight"]
	path = splot_spotlight
	url = git@github.com:achurichi/splot_spotlight.git
